// Import Google fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300;400&family=Indie+Flower&family=Roboto+Mono:wght@300&family=Work+Sans:wght@100;300&display=swap');
// Define fonts for body and headers
$body-font: "Averia Serif Libre","Work Sans", "Helvetica", "sans-serif";
$headers-font: "Averia Serif Libre","Nunito", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
h1 { font-family: "Averia Serif Libre";
     color: #0C1248;
}
