.info-pill {
  background: $red;
  color: $white;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 1rem 0;
}

.booking-form-sm h2 {
  color: $red;
}
.img {
  border-radius: 5px;
  overflow: hidden;
}
