<div class="container">
  <h1>Bookings</h1>
<br>
<p>Rental Requests For My Items</p>
<% if @booking_requests.empty? == false %>
  <% @booking_requests.each do |booking| %>
    <p><%= link_to booking.item.name, booking_path(booking) %> </p>
  <% end %>
<% else %>
  <p>You currently have no rental requests</p>
<% end %>
<br>
<p>My Rental Requests</p>
