<div class="container">
<br>
  <h1>Check out your bookings <%= current_user.first_name %> <i class="fa-solid fa-paw"></i></h1>
<br>
<h3>Pending Rental Requests</h3>
<% if @booking_requests.empty? == false %>
  <% @booking_requests.each do |booking| %>
    <p><%= link_to booking.item.name, booking_path(booking) %> </p>
  <% end %>
<% else %>
  <p>You currently have no pending requests</p>
<% end %>
<br>
<h3>Confirmed Requests</h3>
<% if @approved_requests.empty? == false %>
  <% @approved_requests.each do |booking| %>
    <% if booking.notes != "rejected" %>
      <p> <%= link_to booking.item.name, booking_path(booking) %> </p>
    <% end %>
  <% end %>
<% else %>
  <p>You currently have no confirmed requests</p>
<% end %>
