<div class="footer mt-5">
  <div class="footer-links">
    <a href="https://www.instagram.com/explore/tags/cutedog/" target="_blank"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/Cute-Dogs-746009545416798/" target="_blank"><i class="fab fa-facebook"></i></a>
    <a href="https://www.youtube.com/watch?v=wtH-hdOF1uA" target="_blank"><i class="fab fa-youtube"></i></a>
  </div>
  <div class="footer-copyright">
    <i class="fa-solid fa-paw pt-2 pl-5"></i> Vanity Fur established. 2022
  </div>
</div>
