<div class="wrapper d-flex" style="background-color: rgba(208,55,55,0.3)">
  <%= image_tag "banner-dog.jpg", class: "w-50" %>
  <div class="d-flex align-items-center px-5">
    <div>
      <h1>WOOF WOOF</h1>
      <h1>STYLE. sWAG. Couture.</h1>
      <%= link_to "Shop Now",  items_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
