<div class="grid">
<% @items.each do |item| %>
  <div class="card-trip">
    <img src="https://images.unsplash.com/photo-1592028545328-7ff4385e450f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nzh8fGRvZyUyMGluJTIwY2xvdGhlc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=600&q=60" />
  <div class="card-trip-infos">
    <div>
      <h2><%= link_to item.name, item_path(item) %></h2>
      <p><%= item.description %></p>
    </div>
      <h2 class="card-trip-pricing">£<%= item.price.to_i %></h2>
      <img src="https://media.istockphoto.com/photos/illustration-of-smiling-happy-man-with-laptop-sitting-in-armchair-picture-id1226886130?b=1&k=20&m=1226886130&s=170667a&w=0&h=jMvDQqfHSx2PEdvvRtSNX6FVXPK-_WZ1UzBRToBHv4g=" class="card-trip-user avatar-bordered" />
    </div>
  </div>
<% end %>
