<div class="card-category mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://media.istockphoto.com/photos/curious-border-collie-dog-looking-down-with-a-white-banner-or-a-in-picture-id1312943563?b=1&k=20&m=1312943563&s=170667a&w=0&h=OK2REXa1Wtcx2uwPSv_7xc2nquxcy7RN-yykakz1ugA=)">
 <h2 style="color: white">All Available Items</h2>
</div>
<div class="container">
  <%= render "all" %>
</div>
