<div class="card-category mb-5 index-card">
 <h1 style="color: white">Get your sWAGS here <%= current_user.first_name %> <i class="fa-solid fa-paw"></i></h1>
</div>
<div class="container pb-5">
  <%= render "all" %>
</div>
