<div class="card-category mb-5 index-card">
 <h2 style="color: white">All Available Items</h2>
</div>
<div class="container pb-5">
  <%= render "all" %>
</div>

<div class="whole-map" style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
