.btn-gradient {
  color: white;
  padding: 8px 24px;
  border: solid $fadedRed;
  border-radius: 4px;
  font-weight: bold;
  background:$fadedRed;
  transition: background 0.3s ease;
}

.btn-gradient:hover {
  background: white;
  color: $fadedRed;
}
