#carousel-whole {
  width: 50%;
}
#black-text .form-label {
  color: black;
}
.details {
  border-left: 1px solid $blue;
  color: $blue !important;
}

.avatar-show {
  border-radius: 50%;
  object-fit: cover;
}
