#carousel-whole {
  width: 50%;
}

.details {
  background-color: hsl(234%, 71%, 75%);
  border-radius: 0.5rem;
  border: 3px solid hsl(234%, 71%, 30%);
}

.avatar-show {
  border-radius: 50%;
  object-fit: cover;
}
