.container-form {

  align-items: center;
}


.form-body {
  text-align: center;
  background: asset-url("pinkdogs.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}

.form-label {
  font-size: larger;
  text-shadow: 1px 1px #f3f1f1;
}
