.container-form {
  align-items: center;

}


.form-body {
  text-align: center;
  background: asset-url("pinkdogs.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
}


.container-dates {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-top: 10px;
}

.form-image {
  // padding-bottom: 16px;
  // padding-top: 16px;
  border-radius: 5px;
  background-size: cover;
}

.form-label {
  font-size: larger;
  text-transform: uppercase;
  color: #f1ebe5;
}

.currency{
  color: #f1ebe5;
}

.form-control {

  border-radius: 8px;
}

.form-select {
  border-radius: 8px;
}

.form-heading {
 padding-bottom: 5px;
}

.image-description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #f1ebe5;
  padding-top: 30px;
  border-radius: 5px;
}
